<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Get your weather</p>
        <form>
            <input placeholder="Location">
            <button type="submit">Search</button>
        </form>
        <p id="error"></p>
        <p id="location"></p>
        <p id="weather"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>