<!DOCTYPE html>
<html>

<head>
    <title>Not found</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>{{message}}</h2>
    </div>
    {{>footer}}
</body>

</html>